* {
  margin: 0;
  padding: 0;
  font-family: "Ephesis", cursive;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
}

.size-uno {
  font-size: 1rem;
}

.size-dos {
  font-size: 0.7rem;
}

.size-tres {
  font-size: 0.5rem;
}

.size-cuatro {
  font-size: 0.2rem;
}

.redes__instagram {
  background-color: #be1b6f;
}

.redes__Twitter {
  background-color: #008000;
}

.redes__facebook {
  background-color: #0000ff;
}

.redes__envelope {
  background-color: #00bbff;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Noticias {
  align-items: stretch;
  text-align: center;
}
.Noticias__text {
  padding: 15px;
  font-size: 0.7rem;
  color: #080808;
}
.Noticias__columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.Noticias__titulo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #080808;
  font-family: "roboto";
}

.Noticias__principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.Noticias__imagen {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 30px;
  transition: all 300ms;
  position: relative;
}

.Noticias__imagen:hover {
  transform: scale(1.15);
}

.Noticias__titulo--2 {
  font-size: 25px;
  margin: 20px 20px;
  font-family: "$tipografia-titulo, Cursive";
  color: #080808;
  margin-top: 50px;
}

.Noticias__futbol {
  color: rgb(16, 16, 16);
  margin-left: 30px;
  margin-right: 30px;
}

.Noticias__futbol .Noticias__titulo--2 p {
  font-size: 80px;
}

.Noticias__futbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  box-shadow: #1b1b32;
}

.noticias__natacion--2 {
  border: none;
}

.size-uno {
  margin-top: 40px;
  color: #080808;
}

.columna {
  margin-bottom: 50px;
}

.natacion {
  width: 300px;
}

.Noticias__natacion {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}
.Noticias__natacion__titulo-natacion-1 {
  font-size: 18px;
  font-family: Helvetica;
}
.Noticias__natacion__img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: block;
}

.primera-imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion-contacto {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seccion-contacto__a {
  list-style-type: none;
}

i {
  font-size: 2rem;
  padding: 8px 19px;
  border-radius: 50%;
  color: rgb(233, 172, 18);
}

.iconos-redes-sociales {
  list-style-type: none;
}

.iconos-redes-sociales a {
  text-decoration: none;
}

.nav-items a {
  font-family: sans-serif;
  color: black;
}

.primera-imagen {
  margin: 30px;
  margin-top: 0;
  padding: 30px;
}

.imagen-club {
  min-width: 700px;
  max-height: 600px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.primer-imagen {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-clase3 {
  font-size: 1.2rem;
  color: #584e4e;
  margin: 15px;
}

.proyectos img {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  border-radius: 15px;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  text-align: center;
}

body {
  background-image: url(../imagenes/football-grass.jpg);
}

.Noticias__imagenes {
  width: 100%;
  height: 50%;
}

.headernav img {
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}

.navbar-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barranav {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.elementos-barra-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

.nav-items a {
  font-family: sans-serif;
  color: black;
}

.main-titulos {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-futbol1 {
  font-size: 2rem;
  color: #696969;
  font-family: "Rubik Dirt", Cursive;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.futbol-masculino {
  width: 150px;
  height: 100px;
}
.futbol-masculino__femenino {
  width: 150px;
  height: 100px;
}

.fefi {
  width: 100%;
}

.futsal {
  width: 100%;
}

.parrafo-article {
  margin-top: 30px;
}

.socios {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.asociarme {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*estilo del formulario*/
.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  gap: 2rem;
  padding-inline: 50px;
}

.escribir {
  width: 50%;
}

/*estilos generales*/
.historia2 {
  width: 500px;
}

.clase-natacion {
  text-align-last: center;
  background-color: aqua;
  border-radius: 10px;
  margin: 20px 0px;
}

.cena {
  width: 250px;
  height: 300px;
}

.fiesta {
  width: 250px;
  height: 300px;
}

.Noticias__proyecto p {
  font-size: 2rem;
  color: rgb(233, 172, 18);
}

/*barra de navegacion*/
.navbar {
  padding: 2rem;
  background-color: rgba(202, 196, 196, 0.13);
}
.navbar__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.footer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__a {
  color: #1b1b32;
  text-decoration: none;
  list-style-type: none;
}

.lista-de-elementos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.enlaces {
  font-size: 20px;
  margin: 10px;
  font-family: "$tipografia-titulo";
  color: #080808;
}

.footer ul li {
  margin: 10px;
}

.text-footer {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-bottom: 10px;
  color: #080808;
}

/*media query*/
@media screen and (max-width: 540px) {
  .imagen-logo {
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .imagen-seccion-1 {
    width: 300px;
  }
}
@media screen and (max-width: 912px) {
  .lista-de-elementos {
    max-width: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .imagen-club {
    max-width: 100%;
  }
}
@media screen and (max-width: 846px) {
  .imagen-logo {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
