/*barra de navegacion*/

.navbar{
    padding: 2rem;
    background-color: rgb(202 196 196 / 13%);

    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
    }
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


.imagen-logo{
    border-radius: 50%;
    max-width: 100%;
    width: 250px;
}

body{
  
    flex-wrap: wrap;
}
