
/*estilos generales*/


.historia2 {
    width: 500px;
 
}



.clase-natacion {
    text-align-last: center;
    background-color: aqua;
    border-radius: 10px;
    margin: 20px 0px
       
}


.cena {
    width: 250px;
    height: 300px;

}

.fiesta {
    width: 250px;
    height: 300px;

}



.Noticias__proyecto p{
    font-size: 2.0rem;
    color: rgb(233, 172, 18);
}
