
.primer-imagen{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 246, 247);;
}
    
    
.titulo-clase3{
    font-size: 1.2rem;
    color: #584e4e;
    margin: 15px;
}
    
.proyectos img{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    border-radius: 15px;  
}
    
.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    text-align: center;
    
}

.row{
    background: rgb(86,63,251);
    background: radial-gradient(circle, rgba(86,63,251,0.9097690101431197) 41%, rgba(252,202,70,1) 100%);
}