.historia-club{
    color:black;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;

    
    &__titulo-historia p{
        font-size: 80px;
      }
    }
    
    
    .historia .columna{
        border:2px solid #808080;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        transition: all 0.2s ease-in;

        &__columna:hover{
            color: white;
            background-color: #1b1b32;
         }
    }
    
    
    .titulo-historia{
        font-size: 25px;
        margin: 20px 20px;
        font-family: "Rubik Dirt", Cursive;
       
    }

   