.socios{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.asociarme{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/*estilo del formulario*/


.form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    gap: 2rem;
    padding-inline: 50px;
 }

 .escribir{
    width: 50%;
 }