.socios{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.asociarme{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/*estilo del formulario*/


.form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    gap: 2rem;
    padding-inline: 50px;
 }

 .escribir{
    width: 50%;
 }

 /*Header*/
 header{
   
    padding:30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .menu a{
    color:black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
 }

 .mostrar-menu,
 .esconder-menu{
    font-size:30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
 }

 .mostrar-menu{
    order: 1;
 }

 .menu a:hover,
 .mostrar-menu:hover
 .esconder-menu:hover{
    color:rgba(255, 217, 0, 0.884)
 }

 #check{
    display: none;
 }

 /*responsive*/
 @media screen and (max-width:768px) {
    /*header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    
 .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #4d4d5c;
    right: -100%;
    top:0;
    text-align: center;
    padding: 100px 0;
    z-index: 100;
    transition: 0.8s;
    text-transform: uppercase;
    font-weight: 600;
    }

    .menu a{
        display: block;
        padding: 20px;
        font-weight: 600;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }
}

/*personas*/
#personas{
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 50px 50px;
}

#personas img{
   background-image: url(../imagenes/football-grass.jpg);
   max-width: 100%;
   width: 300px;
   height: 300px;
   border-radius: 100%;
}

#personas div{
   padding: 30px 30px;
}

#personas div h3{
   color: #080808;
   font-size: 18px;
   font-weight: 600;
}

#personas div p{
   color: #080808;
   font-size: 18px;
}

.parrafo-asociarme{
   color: #080808;
   font-size: 18px;
   font-weight: 600;
}

.asociarme p{
   color: #080808;
   font-size: 16px;
}

.form h3{
   color: #080808;
   font-size: 18px;
   font-weight: 600;
}


.comentarios{
   display: inline-block;
   text-decoration: none;
   color: rgba(255, 217, 0, 0.884);
   padding: 10px 30px;
   border: 3px solid black;
   border-radius: 30px;
   margin-top: 15px;
   transition: all 0.4s;
}

#personas a{
   color: black;
   transition: 0.4s;
}

#personas a:hover,
.comentarios:hover{
   color: rgba(255, 217, 0, 0.884);
}

.container p{
   color: #080808;
   font-size: 18px;
}

.container div h3{
   color: #080808;
    font-size: 18px;
    font-weight: 600;
}

.socio-parrafo{
   color: #080808;
    font-size: 16px;
}

.socios-titulo{
   color: #080808;
   font-size: 20px;
   font-weight: 600;
}