//mixin sin parametros

@mixin flex-justi-direction{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//mixin con parametros

@mixin w-h ($w, $h){
    width:$w;
    height:$h;
}
 