/*media query*/

@media screen and (max-width: 540px){
    .imagen-logo{
        width: 100%;
     
    }
}
    
@media  screen and (max-width:860px) {
    .imagen-seccion-1{
        width: 300px;
    }
}


@media screen and (max-width:912px){
    .lista-de-elementos{
        max-width:100%;
    }
}


@media  screen and (max-width:1140px) {
    .imagen-club{
        max-width: 100%;
    }    
}

@media screen and (max-width:846px){ 
    .imagen-logo{ 
    display:none;
    }
}