$Black: #080808;

$Blanco:#ffffff;

$tipografia-titulo:"roboto";

$color-primary: #1b1b32;


//condicional

// blanco
$bshadow-1:$Blanco;

//gris
$bshadow-2:$Black;

//negro
$bshadow-3:$color-primary;

@mixin box-shadow ($bxshadow) {
    //si...
    @if $bxshadow == "s-right"{
        box-shadow:$bshadow-1;
        //sino...
}@else if $bxshadow =="s-left"{
    box-shadow:$bshadow-2;
    //sino
 }@else  if $bxshadow == "s-top"{
    box-shadow:$bshadow-3;
    //sino  es esto
 }@else {
    box-shadow:none;
    }
 }

 //Mapas- Bucles @each

 $fontsize-mood:(
    //  mood       size   
    uno: 1rem,
    dos: 0.7rem,
    tres: 0.5rem,
    cuatro: 0.2rem
 );

 @each $mood, $size in $fontsize-mood{
    .size-#{$mood}{
        font-size: $size;
    }
 }


 //declaro el Mapa

 $redes: (
    //clave        color
    instagram:   none,
    Twitter:     none,
    facebook:    none,
    envelope:    none,
    );

@each $clave, $color in $redes {

    .redes__#{$clave}{
        background-color: $color;
    }
}
    

