$Gris: #696969;

$Blanco:#ffffff;

$tipografia-titulo:"Rubik Dirt", Cursive;

$color-primary: #1b1b32;


//condicional

// blanco
$bshadow-1:$Blanco;

//gris
$bshadow-2:$Gris;

//negro
$bshadow-3:$color-primary;

@mixin box-shadow ($bxshadow) {
    //si...
    @if $bxshadow == "s-right"{
        box-shadow:$bshadow-1;
        //sino...
}@else if $bxshadow =="s-left"{
    box-shadow:$bshadow-2;
    //sino
 }@else  if $bxshadow == "s-top"{
    box-shadow:$bshadow-3;
    //sino  es esto
 }@else {
    box-shadow:none;
    }
 }